<%- include ("partials/head") %>

    <body>

        <div id="mainDiv">
            <%- include ("partials/header") %>
            
            <h1 id="pageTitle"> <%= pageTitle; %> </h1>
            <form id="indexFile-form" action="/" method="POST">
                <label> courses
                    <input type="radio" name="userInput" value="courses" required> 
                </label>
                <label> students
                    <input type="radio" name="userInput" value="students"> 
                </label>
                <label> students_courses
                    <input type="radio" name="userInput" value="students_courses"> 
                <button type="submit">Get Table</button>
            </form>
    
            <%- include('partials/dataTables') %>
            
        </div>

        <%- include ("partials/Footer") %>
    </body>