<%- include ("partials/head") %>

    <body>

        <div id="mainDiv">
            <%- include ("partials/header") %>
            <!-- <h1>HOME PAGE</h1> -->
            <h1 id="pageTitle"> <%= pageTitle; %> </h1>
            <form id="indexFile-form" action="/" method="POST">
               <input type="text" name="userInput" required placeholder="Insert the table's name">
                <button type="submit">Get Table</button>
            </form>
    
            <%- include('partials/dataTables') %>
            
        </div>

        <%- include ("partials/Footer") %>
    </body>