<%- include ("partials/head") %>

<body>
    <div id="mainDiv">
        <%- include('partials/header') %>
        <h1> <%= pageTitle; %> </h1>
    
        <form action="/upDateData" method="POST">
            <label>Column name:</label>
            <input type="text" name="column_name" placeholder="">

            <label>New value: </label>
            <input type="text" name="new_value">

            <label> Where </label>
            <input type="number" name="id" placeholder="Insert id">

            <button type="submit"> Update</button>
        </form>
    
        <h3> Table name = <%= currentTable; %> </h3>
        <%- include ("partials/dataTables") %>
    </div>

    <%- include('partials/footer') %>
</body>